<ion-view view-title="My Page">
    <ion-content padding="true">
        <div class="list list-inset">
          <label class="item item-input">
            <i class="app-icon ion-podium"></i>
            <span class="input-label">网站名称：</span>
            <span>中国联通</span>
          </label>
          <label class="item item-input">
            <i class="app-icon ion-iphone"></i>
            <span class="input-label">手机号码：</span>
            <input type="text">
          </label>
          <label class="item item-input">
            <i class="app-icon ion-locked"></i>
            <span class="input-label">服务密码：</span>
            <input type="password">
          </label>
        </div>

        <button ui-sref="collect" 
                class="button button-block button-balanced" 
                ng-class="{'disabled':processing}" 
                ng-click="processing = true;vm.auth();">
          <span ng-if="processing != true">提交认证</span>
          <span ng-if="processing == true">
            <i class="icon ion-loading-a" data-pack="default" data-tags="spinner, waiting, refresh"></i>
            正在认证请稍后
          </span>
        </button>
    </ion-content>
</ion-view>