<ion-view view-title="My Page">
    <ion-content class="text-center" padding="true">

        <div style="margin-top:80px;">
            <i class="icon ion-navigate" style="font-size:100px;color:#66cc33"></i>
        </div>

        <div class="card">
          <div class="item item-divider">
            成功授权
          </div>
          <div class="item item-text-wrap">
            您的信息已经成功提交，请耐心等待审核
          </div>
        </div>

        <button ui-sref="collect" class="button button-block button-balanced">
          结束认证
        </button>
    </ion-content>
</ion-view>